<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <script src="/js/lib/jquery-1.8.3.min.js"></script>
    <script src="/js/lib/socket.io.js"></script>
    <script>
      var socket = io.connect('http://localhost:<%= socket_port %>');
    </script>
    <script src="/js/ui-index.js"></script>
    <style type='text/css'>
	    html {
		    background: #EEE;
	    }
	    body {

		    width: 500px;
		    margin: 30px auto;
		    padding: 10px 30px;
		    font-size: 16px;
		    text-align: justify;
		    color: #333;
		    background: #FFF;
		    border: solid 1px #DDD;
		    border-radius: 2px;
		    box-shadow: 0px 5px 10px rgba(0,0,0,0.05);
	    }
	    h1{
		    text-align: center;
	    }
    </style>
  </head>
  <body></body>
</html>
